:root{

    /* Primary */
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    /* Neutral */
    --grayishBlue: hsl(229, 8%, 60%);
    --veryDarkBlue: hsl(229, 31%, 21%);
    overflow-x: hidden;

}

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing:border-box;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;

}
h1 {
    font-weight: 500; 
    text-align: center;
    margin-top: -140px;
    color: var(--veryDarkBlue);

}
h2 {
    font-weight: 500; 
    margin: 10px;
    color: var(--veryDarkBlue);
}
h3 {
    font-weight: 400;
    font-size: 18px;
    color: var(--veryDarkBlue);
}
h5 {
    font-weight: 400;
    font-size: .7rem;
    letter-spacing: 2.2px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.centered {
    text-align: center;
}
.margin-top {
    margin-top: 100px; 
}

.text-left-aligned {
    text-align: left;
}
.white {
    color: white;
}

p {
    line-height: 1.6;
    text-align: center;
}
.margins-wide {
    padding: 0;
}

button {
    background-color: rgb(233, 233, 233);
    border: 2px solid rgb(233, 233, 233);
    border-radius: 4px;
    margin: 30px 10px;
    margin-left: 5px;
    padding: 8px;
    box-shadow: 0px 5px 10px #cccccc;
    width: 50%;
    height: 40px;
    width: 100%;
    margin-top: 0;
}
.blue-button {
    color: white;
    background-color: var(--softBlue);
    border: 2px solid var(--softBlue);
    border-radius: 4px;
    padding: 8px;
    width: 100%;   
    margin-top: 0; 
}

.button-short{
    width: 100px;
    margin: 40px auto;
    margin-bottom: 80px;

}
#login{
    width: 100px;
    background-color: var(--softRed);
    border: 2px solid var(--softRed);
    border-radius: 5px;
    color: white; 
    height: 30px;
    padding: 5px 5px;
}
div.dotted-line-image {
   
    width: 100%;
    height: 20px;
    margin: 20px 0px 10px 0px;
    background-image:url("../images/bg-dots.svg");
    background-size: contain;
    background-repeat: no-repeat;

}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin: 5% 8%;
}
.container p {
    color: var(--grayishBlue)
}
.container img {
    /* could i use transform to cut edges? */
    width: 300px;
    height: auto;  
    margin: 0; 
}
#hero-image-secondary {
    width: 300px;
    margin-top: 45px;
}
div#container-buttons{
    display: flex; 
    justify-content: center;
    margin-top: 30px;
    
}
.hidden{
    display: none;
}
header {
    /* margin: 5%; */
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
header img {
    height: 30px;
}
i.fa-bars {
    font-size: 1.5rem;
}

/* Mobile navigation menu */

nav.background-transparent-blue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    text-transform: uppercase;
    z-index: 3;
    position: fixed;
    width: 100vw; 
    z-index: 1;
    background-color:#252b46e6;
    top: 0;
}
.mobile-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-bottom: 10px;
}

.mobile-header i {
    color: white; 
}
.mobile-header svg {
    fill: #ffffff; 
    width: 100%;
    height: auto;
    margin-bottom: 0;  
}
nav a {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
    border-top: 1px solid rgb(100, 103, 129);
    padding: 20px;
    color: white;
    letter-spacing: 1.5px;
}
nav a:hover {
    border: 2px solid white; 
    border-radius: 4px;
}

/* ------- */
.nav-secondary {
    width: 100%;
    border-bottom: 1.5px solid lightgray;
    text-align: center;

}
.nav-secondary a {
    font-size: 1.3rem;
    padding: 20px;
    width: 100%;
    display: block;
    color: var(--grayishBlue);
    text-transform: none;
    border-width: 1.5px;
    border-top-color: lightgray;
}
/* adds bottom border on last link in secondary nav */
.border-bottom {
    border-bottom: 1.5px solid lightgray;
}
#border-bottom-red {
    border-bottom: 4px solid red;
    position: absolute;
    width: 50px;
    left: 25%;
    margin: 15px auto;
         
}
.nav-footer {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--veryDarkBlue);
    color: white; 
    padding-top: 30px;
}
.nav-footer ul {
    margin: 0 auto; 
    padding: 0; 
}
.nav-footer li {
    text-align: center;
    text-transform: uppercase;
    list-style: none; 
    font-weight: 200;
    padding: 15px 0;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.svg-white {
    fill: white;
}
svg {
    margin-bottom: 30px;
}
.nav-footer svg {
    margin: 0 auto; 
    margin-bottom: 20px;
}
div#facebook-twitter-nav-icons {
    position: absolute;
    bottom: 30px;
}
div#facebook-twitter-nav-icons img{
    height: 25px;
    padding: 20px;
}
#facebook-twitter-nav-icons-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}
#facebook-twitter-nav-icons-secondary img {
    margin: 0px;
    padding: 25px;
    padding-bottom: 40px;
}
.inline-icon {
    display: flex;
    justify-content: space-between;
}
.inline-icon i {
    font-size: 1.1em;
    color: var(--softBlue);
    padding-top: 20px;
}
.background-shape-blue {

    height: 180px;
    width: 375px;
    background-color: var(--softBlue);
    border-left: 2px solid var(--softBlue);
    border-bottom-left-radius: 100px;
    position: relative;
    left: 12%;
    margin: 0;
    bottom: 180px;
    z-index: -1;
}
.background-shape-blue-flipped {
    height: 200px;
    width: 375px;
    max-width: 300px;
    background-color: var(--softBlue);
    border-right: 2px solid var(--softBlue);
    border-bottom-right-radius: 100px;
    position: relative;
    bottom: 150px;
    z-index: -1;
    right: 20%;
    
}
.container-card{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: auto;
    border-radius: 15px; 
    /* padding: 25px; */
    box-shadow: 0px 10px 15px rgb(231, 234, 245);
    margin: 20px auto;
    max-width: 375px;

}
.container-card img{
    height: auto;
    width: 40%;
    margin: 40px auto; 
    margin-top: 25px;
    margin-bottom: 25px;
}
.container-card p, h2{
    margin: 5px;
    padding: 0 50px;

}
.container-card button {
    margin: 0 auto;
    width: 85%;
}
.container-border-bottom {
    border-bottom: 1px solid lightgrey; 
}
.container-blue {
    background-color: var(--softBlue);
    color: white;
    padding: 0 25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

form {
    margin: 0 auto; 
    min-width: 275px;
}
form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 10px;
    box-sizing: border-box;
    max-width: 350px;
}
#subButton {
    background-color: var(--softRed);
    width: 100%;
    margin-bottom: 50px;
}
#error-frame {
    border: 2px solid var(--softRed);
}
#error {
    box-sizing: border-box;
    border: 2px solid var(--softRed);
    background-color: var(--softRed);
    height: 20px;
    width: 100%;
    padding: 2px 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 0px;
    max-width: 350px;
    font-size: 10px;
    font-style: italic; 

}



/* tablet to Desktop size */

@media screen and (min-width: 600px) {

 
    
    .mobile-header{
        display: none; 
    }
   
   
    nav.background-transparent-blue {
        display: inline;
        background-color: transparent;
    }
    nav.hidden {
        display: inline;
    }
    nav {
        display: inline; 
    }
   nav a {
       color: black; 
       font-size: .5rem; 
       border-top: none; 
   }
   header.desktop-view{
    display: inline;
    }
    
    i.fas {
        display: none; 
    }
  .reverse-divs{
      flex-direction: row;
      margin-right: 3%;
      margin-bottom: 0;
  }
  .reverse-divs img {
    order: 2;
    width: auto;
    max-width: 50%; 
    margin: 0;
    height: 300px;
  }
  .background-shape-blue {
      order: 3;
      z-index: 100;
      display: none;
  }
  .reverse-divs h1 {
      margin: 0;
  }
/* navigation
*/
.nav-secondary {
    display: flex;
    justify-content: space-between;

}
.nav-secondary a {
    letter-spacing: 0px;
    font-size: 16px;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;    
}
.nav-secondary a:hover {
    color:red;
    cursor: pointer; 
}
/* button hovers */
button:hover {
    background-color: white;
    border-color: #333;
    color: #333; 
    font-weight: 600;
    cursor: pointer;
}
.blue-button:hover {
    background-color: white;
    border-color: var(--softBlue);
    color: var(--softBlue); 
    font-weight: 600;

}
.button-short:hover {
    background-color: var(--softBlue);
    border-color: none;
    color: white;
    font-weight: 400;
}
/* ------------- */
.margins-wide {
    margin: 0 auto;
    width: 100%;
    min-width: 500px;
    flex-grow: 2;
    padding: 0 30%;
}
.margin-top-negative {
    /* margin-top: -120px;  */
}
.half-width {
    box-sizing: border-box;
    width: 48%;
    margin: 0;
    padding: 40px;
}
.half-width p {
  text-align: left;
  margin-bottom: 100px;

}
.half-width h2 {
    text-align: left;
}
.margin-top-negative {
    padding-left: 0;
}
.margin-top {
    margin-top: 10%;
}

.full-width {
    width: 100%;
}
#hero-image-secondary {
    width: 100%;
    max-width: 550px;
}
.background-shape-blue-flipped {
    flex-shrink: 0;
    bottom: 30%;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    height: 40%;
    
    
}


.flex-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 15%;
}
.flex-col h2 {
    margin-top: 0;
}
.container-card {
    margin: 10px;
    height: auto;
    width: 250px;
    padding-bottom: 30px;
}
#card2 {
    position: relative;
    top: 30px;
}
#card3 {
    position: relative;
    top: 60px;
}

#container-faq {
    width: 50%;
    margin: 30px auto;
}
p#card-description{
    margin: 1% 20%;
}
.inline-icon i {
    display: block;
    margin-right: 20px;
}
.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding-bottom: 10px;
}
.nav-footer svg {
    position: relative;
    left: -10%;
    z-index: 0;
    margin-right: -40px;
}
#footer-nav-list {
    margin-right: 120px;
    width: 45%;
}
.nav-footer li {
    display: inline;
    margin: 0 25px;
    font-size: .7rem;

}
div#facebook-twitter-nav-icons {
    margin-left: 30px;  
     
}

}
